# Compiled files
__pycache__/
*.py[cod]
build

# Packaging related files
*.egg
*.egg-info

# pycharm
.idea/

.actual
case.py.patch.actual
case.py.patch.google.actual
case.py.patch.javadoc.actual
case.py.patch.reST.actual
case.py.patch.numpydoc.actual
